
/* siempre debe estar */
/* * {
    border: 0px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  */
/* html {
    font-size: 62.5%;
}

/* evita problma en tamaño de contenedores */
* {
    border: 0px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* se pone 62.5% lo cual es igual a 10 por lo tanto para usar mediads
relativas como rem no solo parten de un porcentage(reponsive %) si
no que si quiero 16px no tengo que hacer calculos "raros" con los 16px
inciales de html si no que tpuedo porne 1.6rem = 16px. */
html {
    font-size: 62.5%;
}


body {
    background-color: rgb(250, 154, 154);
}

nav {
    margin: 1rem 10rem;
    min-width: 17.2rem;
    max-width: 70rem;
    border-radius: 10px;
}

.introduction__article {
    background-color:skyblue;
    margin-left: 0 auto;

}
.introduction {
    background-color:skyblue;
}
.introduction__article ul {
    color: black;
    padding: 8;
}
.introduction__article ol {
    color:rgb(54, 35, 224);
    padding: 8;
}
.products figure {
    margin-left: 0px;

}
.products img {
    margin: 0 auto;
}
.products {
    background-color:navy;
    width: 100vw;
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
}
.products article {
    width: 50vw;
    min-width: 60rem;
    max-width: 800px;
    margin: 0 auto;
}
.products a {
    font-size: 2.5rem;
    color:white;
}
.products a::before{
    content: " Mira como se hacen ";
}
.products figcaption {
    font-size: 10rem;
}
.products__img--1 {
    background-color: cadetblue;
    padding-top: 30px;
    padding-left: 30px;
}
.products__img--1 img{
    border-radius: 500px;
}
.products__img--2 {
    background-color:darkcyan;
    padding-top: 30px;
    padding-left: 30px;
}
.products__img--2 img{
    border-radius: 500px;
}
.products__img--3 {
    background-color:midnightblue;
    padding-top: 30px;
    padding-left: 30px;
}
.products__img--3 img{
    border-radius: 500px;
}
.products__img--4 {
    background-color:sienna;
    padding-top: 30px;
    padding-left: 50px;
}
.products__img--4 img{
    border-radius: 500px;
}
.products__img--5 {
    background-color: teal;
}
.products__img--5 img{
    border-radius: 500px;
}

.form--register {
    background-color:rgb(148, 243, 196);
    color: darkblue;
    padding: 5px;
    border-radius: 5px;
}

.lits {
    padding-right: 250px;
    background-color: rgb(162, 255, 201);
    list-style: none;
    padding: 5px;
}
.lits a{
    background-color: cadetblue;
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.lits li{
    display: inline-block;
    margin: 1rem 5rem;
}
.lits a:hover{
    color: darkblue;
}
.lits a:active{
    color: red;
}
.lits a::after{
    content: " | ";
}
.lits a{
    content: " | ";
    width: auto;
    min-width: 7rem;
}

.make {
    background-color: royalblue;
}